{% extends "todo/base.html" %}
{% block content %}
<div class="container">
    <div class="card mt-5">
        <div class="card-body">
            <h3 class="card-title text-danger">Confirm Delete</h3>
            <p>Are you sure you want to delete the todo: <strong>{{ todo.title }}</strong>?</p>
            <form method="post">
                {% csrf_token %}
                <a href="{% url 'todo:todo-list' %}" class="btn btn-secondary">Cancel</a>
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}